.chat {
    padding: 5px;
    font-family: "Big Shoulders Stencil Display", cursive;
    font-size: larger;
    color: greenyellow;
    width: 300px;
    justify-content: center;
    align-items: center;
  }
.chat-board{
    overflow-y: auto;
    height: 10rem;
    max-width: 300px;
    border: black 1px solid;
    display: flex;
    flex-direction: column-reverse;
    text-align: start;
    padding: 5px;
    margin: 5px;
    background-color: black;
}

.chat-button{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .6);
    color: yellowgreen;
    transition-duration: 0.4s;
    /* font-size: 16px; */
}

.chat-button:hover{
    background-color: rgba(112, 128, 144, 0.575);
    /* -webkit-text-stroke: 3px rgba(253, 154, 5, 0.514); */
    color: rgba(253, 154, 5, 0.822);
    border: rgba(253, 154, 5, 0.514) solid 1px;
    cursor: pointer;
}

.chat-input{
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: yellowgreen solid 1px;
    border-bottom: yellowgreen solid 1px;
    color: yellowgreen;
    border-bottom-left-radius: 5px;
}

.chat-input::placeholder{
    color: yellowgreen;
}

.chat-text{
    font-size: 1rem;
}

.chat-title{
    cursor: default;
}

.chat-text.red{
    color: red;
}

.chat-text.yellow{
    color: yellow;
}