.replay-current-games-container{
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.replay-current-games-container > div{
    
    display: flex;
    flex-direction: column;
   
}
.replay-current-games-container > div > div{
    
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    box-shadow: 0 0 25px black;
    background-color: rgba(0, 0, 0, .4);
   
}

.dash{
    background-image: url("../assets/images/piotr-guzik-zgJTGnxxBvo-unsplash.jpg");
    /* filter: grayscale(100%); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    flex-direction: column;
    /* background-color: teal; */
}

.current-games-button{
    cursor: pointer;
}

.current-games-button:hover{
    color: rgb(255, 217, 0);
}

.replay-games-button{
    cursor: pointer;
}

.replay-games-button:hover{
    color: rgb(255, 217, 0);
}

.dash-create-game-button{
    cursor: pointer;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5px;
    color: whitesmoke;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.dash-create-game-button:hover{
    background-color: green;
}

.dash-join-game-button{
    cursor: pointer;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5px;
    color: whitesmoke;
}

.dash-join-game-button:hover{
    background-color: green;
}

.dash-replay-games-title{
    cursor: default;
}

.dash-current-games-title{
    cursor: default;
}

.dash-input{
    border-bottom: black solid 2px;
    background-color: transparent;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    color: whitesmoke;
}

.dash-input::placeholder{
    color: whitesmoke;
    opacity: 1;
}

.dash-vs-bot-button{
    cursor: pointer;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5px;
    color: whitesmoke;
}

.dash-vs-bot-button:hover{
    background-color: green;
}

.dash-loading-bar{
    font-size: 2rem;
}
.current-games-container{
    overflow: auto;
}

.replay-games-container{
    overflow: auto;
}

svg {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
            transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  
  .stroke-still {
    stroke: #232323;
  }
  
  .stroke-animation {
    -webkit-animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
            animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  
  @-webkit-keyframes stroke-spacing {
    0% {
      stroke-dasharray: 0 200;
    }
    45% {
      stroke-dashoffset: 0;
      stroke-dasharray: 200 200;
    }
    90% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
    100% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
  }
  
  @keyframes stroke-spacing {
    0% {
      stroke-dasharray: 0 200;
    }
    45% {
      stroke-dashoffset: 0;
      stroke-dasharray: 200 200;
    }
    90% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
    100% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
  }
  
  @-webkit-keyframes stroke-color {
    0%  { stroke: #3498DB; }
    24% { stroke: #643232; }
    25% { stroke: #327864; }
    49% { stroke: #327864; }
    50% { stroke: #32326e; }
    74% { stroke: #32326e; }
    75% { stroke: #78325a; }
    99% { stroke: #78325a; }
  }
  
  @keyframes stroke-color {
    0%  { stroke: #3498DB; }
    24% { stroke: #643232; }
    25% { stroke: #327864; }
    49% { stroke: #327864; }
    50% { stroke: #32326e; }
    74% { stroke: #32326e; }
    75% { stroke: #78325a; }
    99% { stroke: #78325a; }
  }
