.game-missile >div {
    height: 40px;
    width: 15px;
    background-color: rgb(34, 32, 32);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 10;
    
  }
.game-missile{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 0px;
  width: 0px; 
  overflow: hidden;
  position: relative;
  transform: translateY(-185px) translateX(-42px);
 
  animation: attack-top-to-bottom 2s;
}


  @keyframes attack-top-to-bottom {
    0% {
      display: flex;
      top: -200px;
      opacity: 1;
      height: 200px;
      width: 115px;
    }
  
    100% {
      display: none;
      top: 0px;
      opacity: 1;
      height: 200px;
      width: 115px;
      
    }
  }

#smoke {
	position: absolute;
	z-index: 3;
	width: 1px; height: 160px;
	left: 50%; bottom: 30px;
}

/* smoke balls */

#smoke span { 
  display: block;
	position: absolute;
	bottom: -10px;  margin-left:-20px;
	height: 0px; width: 0px;
	border: 15px solid #4b4b4b;
	border-radius: 35px;
	left: 5px; opacity: 0;
	transform: scale(0.2);
}

/* Smoke animation */

@keyframes smokeL {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(-20px, -130px) }
}

@keyframes smokeR {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(20px, -130px) }
}

#smoke .s0 { animation: smokeL 3s 0s infinite }
#smoke .s1 { animation: smokeR 3s .2s infinite }
#smoke .s2 { animation: smokeL 3s .3s infinite }
#smoke .s3 { animation: smokeR 3s .4s infinite }
#smoke .s4 { animation: smokeL 3s .5s infinite }
#smoke .s5 { animation: smokeR 3s .6s infinite }
#smoke .s6 { animation: smokeL 3s .7s infinite }
#smoke .s7 { animation: smokeR 3s .8s infinite }
#smoke .s8 { animation: smokeL 3s .9s infinite }
#smoke .s9 { animation: smokeR 3s 1s infinite }