/*Ship Grid*/
.ship-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border: rgb(0, 0, 0) 1px solid;
  background-color: rgba(7, 133, 252, 0.5);
  z-index: 2;
  // overflow: hidden;
}
.ocean{
  position: absolute;
  height: 300px;
  width: 300px;
  background: center url('../assets/images/Ocean/Ocean.png');

}
.waves{
  position: absolute;
  height: 300px;
  width: 300px;
  background: center url('../assets/images/Ocean/waves.png');
  /* background-image: fill; */
  animation: move-ocean 40s infinite linear;
  &.w2{
      // height: 600px;
      // width: 600px;
      animation: move-ocean-2 40s infinite linear;
      background: center url('../assets/images/Ocean/waves2.png');
      // transform: scale(85%);
  }
  /* overflow-x: hidden; */
  z-index: 0;
}
  @keyframes move-ocean {
    0%{
      background-position:right
  
    }
    10%{
      opacity: .2;
      // transform: scale(80%);
    }
    20%{
      opacity: 1;
      // transform: scale(100%);

    }
    30%{
      opacity: .2;
      // transform: scale(80%);
    }
    40%{
      opacity: 1;
      // transform: scale(100%);
    }
    50%{
      opacity: .2;
      // transform: scale(80%);
    }
    60%{
      opacity: 1;
      // transform: scale(100%);
    }
    70%{
      opacity: .2;
      // transform: scale(80%);
    }
    80%{
      opacity: 1;
      // transform: scale(100%);
    }
    90%{
      opacity: .2;
      // transform: scale(80%);
    }
    100%{    
        background-position:left;
        opacity: 1;
        // transform: scale(100%);
    }
  }
  @keyframes move-ocean-2 {
    0%{
      background-position:0 0 ;
      // transform: translate(-50%,-50%);
      opacity: .2;
  
    }
    10%{
      opacity: 1;
      // transform: scale(100%);

    }
    20%{
      opacity: .2;
      // transform: scale(80%);
    }
    30%{
      opacity: 1;
      // transform: scale(100%);
    }
    40%{
      opacity: .2;
      // transform: scale(80%);
    }
    50%{
      opacity: 1;
      // transform: scale(100%);
    }
    60%{
      opacity: .2;
      // transform: scale(80%);
    }
    70%{
      opacity: 1;
      // transform: scale(100%);
    }
    80%{
      opacity: .2;
      // transform: scale(80%);
    }
    90%{
      opacity: 1;
      // transform: scale(80%);
    }
    100%{    
        // background-position:left;
        // background-position:top;
        background-position:-50% -50%;

      opacity: .2;

  }
}

.ship-grid-square {
  height: 30px;
  width: 30px;

  border: rgba(0, 0, 0, 0.219) 1px solid;
  box-sizing: border-box;
  background-color: rgba(7, 133, 252, 0.5);
  z-index: 1;
}

.ship-grid-square.ship {
  background-color: rgba(7, 133, 252, 0.5);
  border: none;
  box-sizing: border-box;

}

.start-panel{
  background-color: rgba(0, 0, 0, .6);
  box-shadow: 0 0 25px black;
  padding: 10px;
  border-radius: 10px;

  label{
    color: white;
  }
  h2{
    color: white;
    padding: 10px;
    font-size: 1.5rem;
  }
}

.diff-easy{
  color: aquamarine;
}
.diff-hard{
  color: yellow;
}

.diff-impossible{
  color: red
}