.game-screen {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  background-image: url("../assets/images/etienne-martin-v6uiP2MD6vs-unsplash.jpg");
  /* filter: grayscale(100%); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Big Shoulders Stencil Display", cursive;
  background-color: honeydew;

}
/*test*/
.yard-grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 97.2vh;
  justify-content: space-around;
  padding: 10px;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: large;
  color: greenyellow;
  background-color: rgba(0, 0, 0, 0.7);
}

#radar-header {
  font-size: 3rem;
  color: greenyellow;
  cursor: default;
}
.radar-grid-square {
  position: relative;
  height: 60px;
  width: 60px;
  /* background-color: rgba(0, 0, 0, 0.25); */
  border: greenyellow 1px solid;
  box-sizing: border-box;

  overflow: hidden;
}

.scan {
  position: absolute;
  width: 75%;
  height: 75%;
  top: -25%;
  left: -25%;
  /* border: 1px solid blue; */
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0) 50%,
    rgb(85, 255, 0) 100%
  );
  border-radius: 100% 0 0 0;
  animation: scanning 10s linear infinite;
  transform-origin: 100% 100%;
  z-index: 1;
  box-sizing: border-box;
}

@keyframes scanning {
  to {
    transform: rotate(360deg);
  }
}

.radar-grid-row {
  display: flex;
  z-index: 200;
  position: relative;
}

.radar-grid {
  cursor: crosshair red;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px;
  border: black 1px solid;
  box-sizing: border-box;
  z-index: 2;
  background: linear-gradient(
      90deg,
      transparent 49.75%,
      rgba(85, 255, 0, 0.1) 49.75%,
      rgba(85, 255, 0, 0.1) 50.25%,
      transparent 50.25%
    ),
    linear-gradient(
      transparent 49.75%,
      rgba(85, 255, 0, 0.1) 49.75%,
      rgba(85, 255, 0, 0.1) 50.25%,
      transparent 50.25%
    ),
    repeating-radial-gradient(
      transparent 0,
      transparent 1em,
      rgba(85, 255, 0, 0.1) 1em,
      rgba(85, 255, 0, 0.1) 1.05em
    ),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.ship-grid {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin: 10px;
}

.ship-grid-square {
  height: 30px;
  width: 30px;
  background-color: lightblue;
  border: black 1px solid;
  box-sizing: border-box;
}

.ship-grid-row {
  display: flex;
  /* height: 40px; */
}

/*SHIPYARD*/
.ship-yard {
  margin-top: 5px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: chartreuse;
}
#ship-yard-ship-container.horizontal {
  height: 260px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#ship-yard-ship-container.vertical {
  height: 260px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#battleship.horizontal,
#carrier.horizontal,
#sub.horizontal,
#cruiser.horizontal,
#destroyer.horizontal {
  display: flex;
  width: fit-content;
  height: fit-content;
}
#battleship.vertical,
#carrier.vertical,
#sub.vertical,
#cruiser.vertical,
#destroyer.vertical {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}
.ship-yard-ship-piece {
  width: 30px;
  height: 30px;
  /* background-color: blue; */
  border: rgba(0, 0, 0, .2) 1px solid;
}


/*Ship Grid*/
.ship-grid {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border: black 1px solid;
  background-color: lightblue;
}

.ship-grid-square {
  height: 30px;
  width: 30px;

  border: black 1px solid;
  box-sizing: border-box;
}
.ship-grid-square.none{
  
}

.ship-grid-square.ship {
  background-color: blue;
  border: none;
  box-sizing: border-box;

}
.ship-grid-square.miss {
  background-color: rgba(255, 255, 255, 0.479);
  border-radius: 75%;
  border: solid white 5px;
  animation: fadeinMiss 2s;
}
.ship-grid-square.hit {
  background-color: rgba(255, 0, 0, 0.479);
  border-radius: 75%;
  border: solid red 5px;
  animation: fadeinHit 2s;
}
@keyframes fadeinMiss {
  0% {
    background-color: lightblue;
    border-radius: 0%;
    border: black 1px solid;
    box-sizing: border-box;
  }
  99% {
    background-color: lightblue;
    border-radius: 0%;
    border: black 1px solid;
    box-sizing: border-box;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 75%;
    border: solid white 5px;
  }
}

.radar-grid-square.hit {
  background-color: rgba(255, 0, 0, 0.479);
  border-radius: 75%;
  border: solid red 5px;
}

.ship-grid-square.hit {
  background-color: rgba(255, 0, 0, 0.479);
  border-radius: 75%;
  border: solid red 5px;
  animation: fadeinHit 2s;
}
@keyframes fadeinHit {
  0% {
    background-color: blue;
    border-radius: 0%;
    border: none;
  }
  99% {
    background-color: blue;
    border-radius: 0%;
    border: none;
  }
  100% {
    background-color: rgba(255, 0, 0, 0.479);
    border-radius: 75%;
    border: solid red 5px;
  }
}
.radar-grid-square.miss {
  background-color: rgba(255, 255, 255, 0.479);
  border-radius: 75%;
  border: solid white 5px;
}

.ship-grid-row {
  display: flex;
  /* height: 40px; */
}

.ship-grid-square.sunk {
  background-color: rgb(5, 5, 5);
  animation: fadeinSink 2s;
}
@keyframes fadeinSink {
  0% {
    background-color: blue;
  }
  99% {
    background-color: blue;
  }
  100% {
    background-color: rgb(5, 5, 5);
  }
}

.turn {
  position: relative;
  z-index: 201;
}

/*Replay Component*/

.replay-grid-container {
  display: flex;
  justify-content: space-evenly;
}

.missile-right-to-left {
  height: 5px;
  width: 20px;
  background-color: crimson;
  display: inline-block;
  position: relative;
  animation: attack-right-to-left 2s;
  z-index: 10;
}
@keyframes attack-right-to-left {
  0% {
    display: inline-block;
    left: 300px;
    opacity: 0;
  }

  100% {
    left: 0px;
    opacity: 1;
  }
}
.missile-left-to-right {
  height: 5px;
  width: 20px;
  background-color: crimson;
  display: inline-block;
  position: relative;
  animation: attack-left-to-right 2s;
  z-index: 10;
}
@keyframes attack-left-to-right {
  0% {
    display: inline-block;
    right: 300px;
    opacity: 0;
  }

  100% {
    right: 0px;
    opacity: 1;
  }
}
.your-ships-title{
  cursor: default;
}

.code-title{
  cursor: default;
}

.code-container{
  display: flex;
}

.your-turn{
  color: greenyellow;
  font-size: 2rem;
  cursor: default;
}
