#replay-page-container{
  background-image: url("../assets/images/etienne-martin-v6uiP2MD6vs-unsplash.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Big Shoulders Stencil Display", cursive;
  background-color: honeydew;
}
#replay-page-container > h2 {
  font-size: 32px;
  padding-top: 5px;
  color: whitesmoke;
  margin-bottom: 5px;
}
.button-highlight{
  height: 100%;
  width: 100%;
}
#replay-back-button{
  position: absolute;
  top: 0px;
  left: 0px;
}
#replay-page-buttons{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;

}
.replay-missile-right-to-left > div {
  height: 15px;
  width: 40px;
  background-color: rgb(34, 32, 32);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 10;
  
}
.replay-missile-left-to-right > div {
  height: 15px;
  width: 40px;
  background-color: rgb(34, 32, 32);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 10;
  
}
.replay-missile-right-to-left{
display: flex;
flex-direction: row;
align-items: center;
height: 0px;
width: 0px; 
overflow: hidden;
position: relative;
transform: translateY(-45px) translateX(10px);
/* z-index: 50; */
animation: attack-right-to-left 2s;
}
.square-z-index{
  z-index: 50;
}

.replay-missile-left-to-right{
display: flex;
flex-direction: row-reverse;
align-items: center;
height: 0px;
width: 0px; 
overflow: hidden;
position: relative;
transform: translateY(-45px) translateX(-180px);

animation: attack-left-to-right 1.5s;
}


@keyframes attack-right-to-left {
  0% {
    left: 500px;
    opacity: 1;
    height: 115px;
    width: 200px;
  }

  100% {
    left: 0px;
    opacity: 1;
    height: 115px;
    width: 200px;
    
  }
}
@keyframes attack-left-to-right {
  0% {
    left: -500px;
    opacity: 1;
    height: 115px;
    width: 200px;
  }

  100% {
    left: 0px;
    opacity: 1;
    height: 115px;
    width: 200px;
    
  }
}

#replay-smoke {
position: absolute;
z-index: 3;
width: 1px; height: 160px;
left: 50%; bottom: 30px;
}

/* smoke balls */

#replay-smoke span { 
display: block;
position: absolute;
bottom: 10px;  margin-left:0px;
height: 0px; width: 0px;
border: 15px solid #4b4b4b;
border-radius: 35px;
left: 45px; opacity: 0;
transform: scale(0.2);
  
}
#replay-smoke-right {
position: absolute;
z-index: 3;
width: 1px; height: 160px;
left: 50%; bottom: 30px;
}

/* smoke balls */

#replay-smoke-right span { 
display: block;
position: absolute;
bottom: 10px;  margin-left:0px;
height: 0px; width: 0px;
border: 15px solid #4b4b4b;
border-radius: 35px;
left: -75px; opacity: 0;
transform: scale(0.2);
  
}

/* Smoke animation */

@keyframes smokeLl {
0%   { transform: scale(0.2) translate(0, 0) }
10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
100% { opacity: 0; transform: scale(1) translate(-100px, -5px) }
}

@keyframes smokeRr {
0%   { transform: scale(0.2) translate(0, 0) }
10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
100% { opacity: 0; transform: scale(1) translate(-100px, 0px) }
}
@keyframes smokeLright {
0%   { transform: scale(0.2) translate(0, 0) }
10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
100% { opacity: 0; transform: scale(1) translate(100px, -5px) }
}

@keyframes smokeRright {
0%   { transform: scale(0.2) translate(0, 0) }
10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
100% { opacity: 0; transform: scale(1) translate(100px, 0px) }
}

#replay-smoke .s0{ animation: smokeLl 3s 0s infinite }
#replay-smoke .s1{ animation: smokeRr 3s .2s infinite }
#replay-smoke .s2{ animation: smokeLl 3s .3s infinite }
#replay-smoke .s3{ animation: smokeRr 3s .4s infinite }
#replay-smoke .s4{ animation: smokeLl 3s .5s infinite }
#replay-smoke .s5{ animation: smokeRr 3s .6s infinite }
#replay-smoke .s6{ animation: smokeLl 3s .7s infinite }
#replay-smoke .s7{ animation: smokeRr 3s .8s infinite }
#replay-smoke .s8{ animation: smokeLl 3s .9s infinite }
#replay-smoke .s9{ animation: smokeRr 3s 1s infinite }
#replay-smoke-right .s0 { animation: smokeLright 3s 0s infinite }
#replay-smoke-right .s1 { animation: smokeRright 3s .2s infinite }
#replay-smoke-right .s2 { animation: smokeLright 3s .3s infinite }
#replay-smoke-right .s3 { animation: smokeRright 3s .4s infinite }
#replay-smoke-right .s4 { animation: smokeLright 3s .5s infinite }
#replay-smoke-right .s5 { animation: smokeRright 3s .6s infinite }
#replay-smoke-right .s6 { animation: smokeLright 3s .7s infinite }
#replay-smoke-right .s7 { animation: smokeRright 3s .8s infinite }
#replay-smoke-right .s8 { animation: smokeLright 3s .9s infinite }
#replay-smoke-right .s9 { animation: smokeRright 3s 1s infinite }

.replay-replay-title{
  color: yellowgreen;
  cursor: default;
}

.replay-speed-title{
  color: yellowgreen;
  cursor: default;
}