/*------------------------------------ SHIPS -----------------------------------------*/
#battleship{
    position: relative;
    z-index: 5;
}
#battleship.horizontal{
    background: no-repeat center/100% url('../assets/images/Battleship/Battleship.png');
}
#battleship-0.horizontal{
    background: no-repeat center/100% url('../assets/images/Battleship/Horizontal/Battleship-0.png');
}
#battleship-1.horizontal{
    background: no-repeat center/100% url('../assets/images/Battleship/Horizontal/Battleship-1.png');
}
#battleship-2.horizontal{
    background: no-repeat center/100% url('../assets/images/Battleship/Horizontal/Battleship-2.png');
}
#battleship-3.horizontal{
    background: no-repeat center/100% url('../assets/images/Battleship/Horizontal/Battleship-3.png');
}

#battleship.vertical{
    background: no-repeat center/100% url('../assets/images/Battleship/Battleship-V.png');
}
#battleship-0.vertical{
    background: no-repeat center/100% url('../assets/images/Battleship/Vertical/Battleship-0-V.png');
}
#battleship-1.vertical{
    background: no-repeat center/100% url('../assets/images/Battleship/Vertical/Battleship-1-V.png');
}
#battleship-2.vertical{
    background: no-repeat center/100% url('../assets/images/Battleship/Vertical/Battleship-2-V.png');
}
#battleship-3.vertical{
    background: no-repeat center/100% url('../assets/images/Battleship/Vertical/Battleship-3-V.png');
}


#cruiser{
  position: relative;
  z-index: 5;
}

#cruiser.horizontal{
  background: no-repeat center/100% url('../assets/images/Cruiser/Cruiser.png');

}
#cruiser-0.horizontal{
  background: no-repeat center/100% url('../assets/images/Cruiser/Horizontal/Cruiser-0.png');
}
#cruiser-1.horizontal{
  background: no-repeat center/100% url('../assets/images/Cruiser/Horizontal/Cruiser-1.png');
}
#cruiser-2.horizontal{
  background: no-repeat center/100% url('../assets/images/Cruiser/Horizontal/Cruiser-2.png');
}

#cruiser.vertical{
  background: no-repeat center/100% url('../assets/images/Cruiser/Cruiser-V.png');

}
#cruiser-0.vertical{
  background: no-repeat center/100% url('../assets/images/Cruiser/Vertical/Cruiser-0-V.png');

}
#cruiser-1.vertical{
  background: no-repeat center/100% url('../assets/images/Cruiser/Vertical/Cruiser-1-V.png');

}
#cruiser-2.vertical{
  background: no-repeat center/100% url('../assets/images/Cruiser/Vertical/Cruiser-2-V.png');

}

#carrier{
    position: relative;
    z-index: 5;
  }
  
  #carrier.vertical{
    background: no-repeat center/100% url('../assets/images/Carrier/newCarrier-V.png');
  
  }
  #carrier-0.vertical{
    background: no-repeat center/100% url('../assets/images/Carrier/Vertical/newCarrier-0-V.png');
  
  }
  #carrier-1.vertical{
    background: no-repeat center/100% url('../assets/images/Carrier/Vertical/newCarrier-1-V.png');
  
  }
  #carrier-2.vertical{
    background: no-repeat center/100% url('../assets/images/Carrier/Vertical/newCarrier-2-V.png');
  
  }
  #carrier-3.vertical{
    background: no-repeat center/100% url('../assets/images/Carrier/Vertical/newCarrier-3-V.png');
  
  }
  #carrier-4.vertical{
    background: no-repeat center/100% url('../assets/images/Carrier/Vertical/newCarrier-4-V.png');
  
  }
  #carrier.horizontal{
    background: no-repeat center/100% url('../assets/images/Carrier/newCarrier.png');
  
  }
  #carrier-0.horizontal{
    background: no-repeat center/100% url('../assets/images/Carrier/Horizontal/newCarrier-0.png');
    /* border-top: black 1px solid; */
    border: rgb(0, 0, 0) 1px solid;
    border-right: none;
  }
  #carrier-1.horizontal{
    background: no-repeat center/100% url('../assets/images/Carrier/Horizontal/newCarrier-1.png');
    border-top: rgb(0, 0, 0) 1px solid;
    border-bottom: rgb(0, 0, 0) 1px solid;
  }
  #carrier-2.horizontal{
    background: no-repeat center/100% url('../assets/images/Carrier/Horizontal/newCarrier-2.png');
    border-top: rgb(0, 0, 0) 1px solid;
    border-bottom: rgb(0, 0, 0) 1px solid;
  }
  #carrier-3.horizontal{
    background: no-repeat center/100% url('../assets/images/Carrier/Horizontal/newCarrier-3.png');
    border-top: rgb(0, 0, 0) 1px solid;
    border-bottom: rgb(0, 0, 0) 1px solid;
  }
  #carrier-4.horizontal{
    background: no-repeat center/100% url('../assets/images/Carrier/Horizontal/newCarrier-4.png');
    border: rgb(0, 0, 0) 1px solid;
    border-left: none;
  }
  
  
  #destroyer{
    position: relative;
    z-index: 5;
  }

  #destroyer.horizontal{
    background: no-repeat center/100% url('../assets/images/Destroyer/NewNewDestroyer.png');
  }
  #destroyer-0.horizontal{
    background: no-repeat center/100% url('../assets/images/Destroyer/Horizontal/NewNewDestroyer-0.png');
  }
  #destroyer-1.horizontal{
    background: no-repeat center/100% url('../assets/images/Destroyer/Horizontal/NewNewDestroyer-1.png');
  }

  #destroyer.vertical{
    background: no-repeat center/100% url('../assets/images/Destroyer/NewNewDestroyer-V.png');
  }
  #destroyer-0.vertical{
    background: no-repeat center/100% url('../assets/images/Destroyer/Vertical/NewNewDestroyer-0-V.png');
  }
  #destroyer-1.vertical{
    background: no-repeat center/100% url('../assets/images/Destroyer/Vertical/NewNewDestroyer-1-V.png');
  }


  #sub{
    position: relative;
    z-index: 5;
  }

  #sub.horizontal{
    background: no-repeat center/100% url('../assets/images/Submarine/Submarine.png');
  }
  #sub-0.horizontal{
    background: no-repeat center/100% url('../assets/images/Submarine/Horizontal/Submarine-0.png');
  }
  #sub-1.horizontal{
    background: no-repeat center/100% url('../assets/images/Submarine/Horizontal/Submarine-1.png');
  }
  #sub-2.horizontal{
    background: no-repeat center/100% url('../assets/images/Submarine/Horizontal/Submarine-2.png');
  }


  #sub.vertical{
    background: no-repeat center/100% url('../assets/images/Submarine/Submarine-V.png');
  }
  #sub-0.vertical{
    background: no-repeat center/100% url('../assets/images/Submarine/Vertical/Submarine-0-V.png');
  }
  #sub-1.vertical{
    background: no-repeat center/100% url('../assets/images/Submarine/Vertical/Submarine-1-V.png');
  }
  #sub-2.vertical{
    background: no-repeat center/100% url('../assets/images/Submarine/Vertical/Submarine-2-V.png');
  }